/* Import Google fonts, define HTML, and Body properties. */
@import url('https://fonts.googleapis.com/css?family=Work+Sans|Roboto:300');

html 
	{
  		font-size: 16px;
  		font-family: 'Work Sans', Sans-Serif;
		line-height: normal;
	}

body 
	{
  		background-color: #F3F3F3;	
		background-image: url(../img/geometry.png);
		background-attachment: local;
		background-repeat: repeat;
  		color: #474747;
  		margin: 0;
  		padding: 0; 
	}

/* Build CSS animation functionality using @keyframes. */
@keyframes header 
	{
    0%   
		{
			padding-bottom: 100vh;
		}
    100% 
		{
			padding-bottom: 0px;
		}
	}
@keyframes fade 
	{
    0%   
		{
			opacity: 0;
		}
    100% 
		{
			opacity: 1px;
		}
	}

/* Begin defining general usage CSS properties. */
#header 
	{
		padding-top: 30px;
		width: 100vw;
		height: 300px;
		background-color: #000;
		background-image: url(../img/hdbg1.jpg);
		background-repeat: repeat;
		color: #FFF;
		display: block;
		border-bottom-color: #FFF;
		border-bottom-style: dashed;
		border-bottom-width: 2px;
		animation-name: header;
    	animation-duration: 1s;
		/* Fix needed because Firefox refuses to center #header img using margin-auto */
		text-align: center;
	}

#header img 
	{
		display: table-cell;
		height: 170px;
		width: auto;
		padding-top: 55px;
		padding-bottom: 35px;
		padding-right: 35px;
		padding-left: 35px; 
		margin-right: auto;
		margin-left: auto;
		background-color: #111;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
  		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}

.busInfoWrapper
	{
		width: 70vw;
		max-width: 1024px;
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
		margin-bottom: 30px;
		display: block;
		animation-name: fade;
    	animation-duration: 2s;
	}

.infoHeader
	{
		width: 96%;
		overflow: hidden;
		height: auto;
		padding-left: 2%;
		padding-right: 2%;
		padding-bottom: 10px;
		padding-top: 10px;
		background-color: #111;
		font-family: 'Roboto', 'Sans Serif';
		font-size: 3rem;
		color: #FBAB00;
		font-weight: 900;
		text-align: left;
		display: block;
		border-radius: 5px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}
	
#infoBlock
	{
		width: 100%;
		height: auto;
		overflow: hidden;
		margin-top: 30px;
		font-size: 3rem;
		color: #FBAB00;
		font-weight: 900;
		text-align: left;
		display: block;
		border-radius: 5px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}

.infoLeftPannel
	{
		display: table-cell;
		vertical-align: middle;
		width: 45%;
		height: 30px;
		float: left;
		padding-right: 2%;
		padding-left: 2%;
		padding-top: 10px;
		padding-bottom: 10px;
		font-family: 'Work Sans', 'Sans Serif';
		font-size: 1.2rem;
		font-weight: 900;
		text-align: right;
		border-right-width: 1%;
		border-right-color: #B8B8B8;
		border-right-style: solid;
	}

.ilp_h1 
	{
		background-color: #ECECEC;
		color: #000;
	}
	
.ilp_h2
	{
		background-color: #062D12;
		color: #FBAB00;
	}
	
.ilp_h3 
	{
		background-color: #BFBFBF;
		color: #000;
	}

.infoRightPannel
	{
		display: table-cell;
		vertical-align: middle;
		width: 46%;
		height: 30px;
		float: left;
		padding-right: 2%;
		padding-left: 2%;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #FFF;
		font-family: 'Work Sans', 'Sans Serif';
		font-size: 1.4rem;
		color: #000;
	}

.irp_h1 
	{
		background-color: #FBAB00;
		color: #0B2011;
		font-weight: 900;
	}

.irp_h2 
	{
		background-color: #FFF;
		color: #000;	
		font-style: italic;
		font-weight: 900;
	}

.irp_h3 
	{
		background-color: #FFF;
		color: #016600;	
		font-weight: 900;
	}
	
/* CSS styles which will be used by our controller function. */
.red
	{
		color: red;
	}
	
.green
	{
		color: green;
	}
	
.orange
	{
		color: orange;
	}
	
.blue
	{
		color: blue;
	}

#footer 
	{
		width: 100vw;
		height: 200px;
		background-color: #000;
		background-image: url(../img/hdbg1.jpg);
		background-repeat: repeat;
		color: #FBAB00;
		display: block;
		border-top-color: #FFF;
		border-top-style: dashed;
		border-top-width: 2px;
		margin-top: 30px;
	}
	
#footer-nest 
	{
		width: 70vw;
		max-width: 1024px;
		height: 140px;
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: auto;
		margin-right: auto;
	}
	
#footer-left 
	{
		width: 47%;
		padding-left: 1%;
		padding-right: 1%;
		height: 140px;
		text-align: left;
		float: left;
		border-right-style: dashed;
		border-right-color: #FBAB00;
		border-right-width: 1%;
	}
	
#footer-right 
	{
		width: 47%;
		padding-left: 1%;
		padding-right: 1%;
		float: left;
		height: 140px;
	}
	
#footer-right img 
	{
	    display: block;
    	margin: auto;
    	width: auto;
		height: 140px;
	}
	
/* Google Maps module CSS, defining paramiters of google maps module. */
#map 
	{
		width: 70vw;
		max-width: 1024px;
		height: 400px;
		overflow: hidden;
		border-radius: 5px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		margin-right: auto;
		margin-left: auto;
	}

#map-container
	{
		width: 70vw;
		height: auto;
		overflow: hidden;
		border-radius: 5px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}

/* Building CSS drop-down menu styling. */
.menuText 
	{
		font-size: 1.3rem;
		font-weight: 900;
		line-height: 50px;
		padding-top: 10px;
		padding-bottom: 10px;
		height: 0px;
		border-bottom-style: dashed;
		border-bottom-width: 1px;
		border-bottom-color: #555;
	}

.message 
	{
		background: #FBAB00;
		color: #000;
		font-size: 2rem;
		position: fixed;
		top: -250px;
		left: 0;
		width: 100%;
		height: 250px;
		margin-top: 20px;
		padding-top: 30px;
		padding-bottom: 10px;
		transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
		overflow: hidden;
		box-sizing: border-box;
		text-align: center;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

.message h1 
	{
  		color:#FFF;
	}

#toggle 
	{
  		position:absolute;
  		appearance:none;
  		cursor:pointer;
  		left:-100%;
  		top:-100%;
	}

#toggle + label 
	{
		position: fixed;
  		cursor: pointer;
  		padding-top: 10px;
		padding-bottom: 10px;
  		background: #111;
		width: 100%;
		font-size: 1.3rem;
		font-weight: 900;
		color: #FBAB00;
		line-height: normal;
		text-align: center;
 		transition: all 500ms ease;
		z-index: 1;
	}

#toggle + label:after 
	{
  		content: "▼ Open Menu ▼";
	}

.container 
	{
		transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
	}

#toggle:checked ~ .message 
	{
  		top: 0;
	}

#toggle:checked ~ .container 
	{
  		margin-top: 250px;
	}

#toggle:checked + label 
	{
  		background: #FBAB00;
		color: #000;
		font-weight: 900;
	}

#toggle:checked + label:after 
	{
  		content: "▲ Close Menu ▲";
	}
#menuwrapper
	{
		top: 0;
		position: fixed;
		z-index: 2;
	}
	   
/* Responsive functionality @media identifier. */
@media screen and (max-width: 1023px) {

/* General modifications to CSS properties, only modified elements are taken into account, the rest will be acquired via inherit. */
html 
	{
  		font-size: 12px;
	}

.busInfoWrapper
	{
		width: 92vw;
	}
	
.infoHeader
	{
		font-size: 2rem;
	}
	
#header 
	{
		height: 180px;
	}

#header img 
	{
		height: 120px;
		padding-top: 30px;
		padding-bottom: 10px;
		padding-right: 10px;
		padding-left: 10px; 
	}

#busInfoWrapper
	{
		width: 92vw;
	}
	
#infoHeader
	{
		text-align: center;
	}
	
#infoBlock
	{
		font-size: 2.2rem;
	}
	
.infoLeftPannel
	{
		height: 18px;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 1.1rem;
	}
	
.infoRightPannel
	{
		height: 18px;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 1.1rem;
	}
	
	.irp_h3 
	{
		color: #016600;	
	}
	
#map 
	{
		width: 92vw;
	}
	
#map-container
	{
		width: 92vw;
	}
	
#footer 
	{
		height: 150px;
	}
	
#footer-nest 
	{
		width: 92vw;
		height: 120px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
#footer-left 
	{
		height: 120px;
		font-size: 0.8rem;
	}
	
#footer-right 
	{
		width: 40%;
		float: left;
		height: 120px;
	}
	
#footer-right img 
	{
		height: 70px;
	}

	
}